@model MongoDAL.Models.TournamentListModel

@{
    ViewBag.Title = "Tournament Details";
}

@if (Model != null)
{
    foreach (var item in Model.TournamentList)
    {
        <div class="ModelContainer">
            <div>
                <div class="ContainerNameBlock">
                    <h3>Tournament Name: @item.Name</h3>
                    <p>Tournament Game: @item.Game</p>
                </div>
                <div class="ContainerPlayerListBlock">
                    <p>Players Involved: @item.PlayerList.Count()</p>
                    @*<Ul>
                        @foreach (var person in item.PlayerList)
                        {
                            <li>
                                <div>
                                    <p>@person.FirstName @person.LastName with a @person.Wins/@person.Loses win-loss ratio</p>
                                </div>
                            </li>
                        }
                    </Ul>*@
                </div>
            </div>
        </div>
    }
}
else
{
    <div>
        <p>
            There are no tournaments to display.
        </p>
    </div>
}

